@font-face {
    font-family: 'SF Pro Text Regular';
    src: url('./SFProText-Regular.ttf');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('./SF-Pro-Display-Medium.otf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('./SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('./SF-Pro-Display-Bold.otf');
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url('./SF-Pro-Display-Semibold.otf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('./Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('./Roboto-Regular.ttf');
}